@use "../../../styles.scss" as s;

.song-container {
  display: flex;
  flex-direction: column;
  width: var(--three-blocks);
  height: auto;
  font-family: "Clash Grotesk", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 2px;
  margin: 1rem;
  color: black;

  @include s.tablet {
    width: calc(var(--single-grid-col) * 5);
  }

  @include s.mobile {
    width: calc(var(--single-grid-col) * 5);
  }
}

.song-title {
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.options {
  display: flex;
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;

  img {
    width: 100%;
  }
}

.active-editing {
  color: black;
  background-color: white;
}

.disable-editing {
  background-color: rgb(190, 187, 187);
  color: white;
}

.info {
  display: flex;
  column-gap: 1rem;
  margin: 1rem 0;
  font-family: "Clash Grotesk", sans-serif;
  color: black;
  font-weight: 500;

  @include s.mobile {
    flex-direction: column;
  }

  p {
    width: min-content;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input,
  textarea {
    resize: none;
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Clash Grotesk", sans-serif;
    color: black;
    font-weight: 400;
  }


}

a {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: "Clash Grotesk", sans-serif;
  color: black;
  font-weight: 400;
  background-color: rgb(190, 187, 187);
}

.style-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
}

.auth-msg {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  font-size: small;
  font-family: "Clash Grotesk", sans-serif;
  color: black;
  font-weight: 800;
}

.buttom-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include s.mobile {
    justify-content: space-between;
    background-color: green;
  }
}
