<main class="main">
  <div class="main-div">
    <header class="header">
      <div class="text-container">
        <app-auto-slider [text]="text"></app-auto-slider>
      </div>
    </header>
    <footer>
      <div class="span-container">
        <picture #spans>
          <source
            srcset="assets/images/logoMobile.svg"
            media="(max-width: 480px)"
          />

          <img class="img" src="assets/images/IEDDSVS.svg" alt="" />
        </picture>
      </div>
    </footer>
  </div>
</main>
