<main class="main">
  <div class="main-div">
    <header class="header">
      <div class="logo-container">
        <img #spans src="assets/logoBlack.png" alt="">
      </div>
      <!-- <div class="text-container">
        <app-auto-slider
          [text]="phrases"
          [direction]="1"
          [speed]="0.06"
          [bgColor]="'none'"
          [fontSize]="4.5"
        ></app-auto-slider>

      </div> -->
      <div class="text-container">
        <app-auto-slider [text]="text" [speed]="0.08"></app-auto-slider>
      </div>
    </header>
    <footer>
      <div class="span-container">
        <picture #spans>
          <source
            srcset="assets/images/logoMobile.svg"
            media="(max-width: 480px)"
          />

          <img class="img" src="assets/images/IEDDSVS.svg" alt="" />
        </picture>
      </div>
    </footer>
  </div>
</main>
