@use "./../../../styles.scss" as s;

.slider-text-container {
  overflow: hidden;
}

.slider-track {
  position: relative;
  display: flex;
  white-space: nowrap;
  width: fit-content;
  transform: translateY(100%);
}

.none {
  background-color: transparent;
  color: black;
}

.black {
  background-color: black;
  color: black;
}

.slider-text-container h1 {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: -0.1em;
  font-family: "Grotesk", sans-serif;

  @include s.tablet {
  }

  @include s.mobile {
    font-size: 4.5em;
  }
}

.slider-text-container h1:last-child {
  position: absolute;
  top: 0;
  left: 100%;
}

h1::selection {
  background-color: var(--yellow);
}
