.options__li {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  // margin: 0 3rem;
  font-family: "Clash Grotesk", sans-serif;
  font-size: 0.9em;
  background-color: forestgreen;
}
