@use "../../../styles.scss" as s;

.grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 var(--col-gap);
  display: flex;
  justify-content: space-between;
  z-index: 800;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100vh;

  @include s.tablet {
    .column:last-child {
      display: none;
    }
  }

  @include s.mobile {
    div:nth-last-child(2),
    div:nth-last-child(3),
    div:nth-last-child(4)  {
      display: none;
    }
  }
}

.column {
  width: 1px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  background: var(--color-div);
}
