<section class="section">
  <main class="main">
    <div class="mision-container" *ngFor="let phrase of missionText">
      <p #missionSentenceRef>{{ phrase }}</p>
    </div>
  </main>
  <footer class="footer">
    <div class="verse-container">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum ipsa earum
        eum mollitia velit nobis aliquid officia ducimus in voluptatibus, quia
        eaque praesentium sapiente maxime voluptates consequuntur exercitationem
        quo iste.
      </p>
      <h2>Romanos 2:12</h2>
    </div>
  </footer>
</section>
