<div #navRef class="nav">
  <div class="container" [@changeNav]="isClear">
    <div class="nav__options">
      <ul class="options__ul">
        <app-magnetic *ngFor="let item of navItems">
          <li
            (mouseover)="onMouseOver()"
            (mouseleave)="onMouseLeave()"
            #liRef
            *ngIf="item.showWhen"
            class="options__li"
            (click)="item.onClick()"
          >
            <a [routerLink]="item.routerLink">{{ item.title }}</a>
          </li>
        </app-magnetic>
      </ul>
    </div>
  </div>
  <div class="grid-line"></div>
</div>
