.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 0;
  background-color: var(--clearBg);
}

.buttom-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
